# Python venv if being used...
.venv
venv/
ENV/

# PyCharm IDE settings
.idea/

# Build files for docs...
docs/build/
# Auto generated api docs...
docs/source/api
# Virtual environment for docs if being used...
docs/.venv
docs/venv/
docs/ENV/

# Ignore pycache files...
**/__pycache__/

.DS_Store

*.zip
*.egg-info/