[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[tool.black]
include='diplomat/.*\.pyi?$|docs/source/.*\.pyi?$|setup.py'

[project]
name = "diplomat-track"
requires-python = ">= 3.8"
