/* Remove indenting a line wrapping from function signatures. */
.sig:not(.sig-inline) {
    text-indent: 0 !important;
    padding: .25rem .5rem .25rem .5rem !important;
    text-wrap: nowrap;
    overflow-x: auto;
}

/* Adjust function/class definitions to put parameters on new lines... */
.sig:not(.sig-inline) > .sig-param {
    display: inline;
    padding-left: 2.5em;
}

.sig:not(.sig-inline) > .sig-param:before {
    content: "\a    ";
    display: inline;
    white-space: pre;
}

.sig:not(.sig-inline) > :nth-last-child(1 of .sig-param):after {
    content: "\a";
    display: inline;
    white-space: pre;
}

/* Undo new line for parameters for plugin parent class */
dl.plugin > .sig:not(.sig-inline) > .sig-param:before {
    content: "";
}

dl.plugin > .sig:not(.sig-inline) > .sig-param {
    padding-left: 0;
}

dl.plugin > .sig:not(.sig-inline) > :nth-last-child(1 of .sig-param):after {
    content: "";
}

/* Make document tables full width... */
table.docutils {
    width: 100%;
}
